{{template "header.html" .S}}

<p>The <strong>Imperial Library of Trantor</strong> (also known as <em>Galactic Library</em>) is a repository of ebooks on ePub format.</p>

<p>You can <a href="/upload/">upload</a> your books. And one of our librarians will take care to store them on our vast bookshelfs and make it available for the rest of the galaxy.</p>

<p>We like to pay the authors, but not the corporations that make profit from them. We won't listen to any content remove request from corporations, editorials, right management organizations or any other blood-suckers.<p>

<h4>Status</h4>

<p>The Imperial Library of Trantor it's in beta-status. We are working to provide a good user experience, but it's still in early development.</p>

<p><b>Any help is welcome</b>. You can write us comments to our email address (zenow@riseup.net), upload your epubs, download our <a href="https://gitorious.org/trantor">source code</a> hack it and send us patches, ...</p>

<h4>Donations</h4>

<p>If you feel like donate some bitcoins we'll gladly accept them. You can request one bitcoin key for you or use our public bitcoin key:</p>
<p class="centered text-success">1JioYbSYDH4JQYbhF7tX2kGUVZc2vzvugx</p>

<h4>OpenPGP</h4>

<p>You can use OpenPGP to write me emails, use my key:</p>
<pre class="span10">
pub   4096R/0xE9971784146CCD94 2013-08-16 [expires: 2016-08-15]
      Key fingerprint = C3BE 4EB1 BF13 A8D9 99D0  1E46 E997 1784 146C CD94
uid                            Las Zenow (Imperial Library of Trantor) &lt;zenow@riseup.net&gt;
sub   4096R/0x2CCC1C70C3E0C73E 2013-08-16
</pre>

{{template "footer.html"}}
