{{template "header.html"}}

<h1>{{.Title}}</h1>
<p>{{.Description}}</p>
<img src="{{.Cover}}" alt="{{.Title}}" />
<ul>
	<li><strong>Author:</strong> {{range .Author}}<a href="/search/?q=author:{{.}}">{{.}}</a>, {{end}}</li>
	<li><strong>Publisher:</strong> <a href="/search/?q=publisher:{{.Publisher}}">{{.Publisher}}</a></li>
	<li><strong>Tags:</strong> {{range .Subject}}<a href="/search/?q=subject:{{.}}">{{.}}</a>, {{end}}</li>
	<li><strong>Date:</strong> {{.Date}}</li>
	<li><strong>Lang:</strong> {{range .Lang}}<a href="/search/?q=lang:{{.}}">{{.}}</a> {{end}}</li>
</ul>

<p><a href="/{{.Path}}">download</a></p>

{{template "footer.html"}}
