{{template "header.html" .S}}

<div class="row">
<div class="span8">
	<p>Last books added:</p>
</div>
<div class="span4">
	<p class="pull-right">{{.Count}} books</p>
</div>
</div>

<div class="row">
{{with .Books}}
	{{range .}}
		<div class="span2">
		<p class="centered down"><a href="/book/{{.Id}}">{{if .CoverSmall}}<img src="{{.CoverSmall}}" alt="{{.Title}}" />{{end}}</a></p>
		</div>
	{{end}}
{{end}}
</div>
<div class="row hidden-phone">
{{with .Books}}
	{{range .}}
		<div class="span2">
		<p class="centered"><a href="/book/{{.Id}}"><strong>{{.Title}}</strong></a></p>
		</div>
	{{end}}
{{end}}
</div>

<div class="row">
	<p class="centered">{{range .Tags}}<a class="label" href="/search/?q=subject:{{.}}">{{.}}</a> {{end}}</p>
</div>

{{template "footer.html"}}
