{{template "header.html" .S}}

<div class="row">
<div class="span8">
	<p>Last books added:</p>
</div>
<div class="span4">
	<p class="pull-right">{{.Count}} books</p>
</div>
</div>

<ul class="row thumbnails">
{{with .Books}}
	{{range .}}
	<li class="span2">
		<div class="thumbnail centered" style="border:none;">
		<a href="/book/{{.Id}}">
		{{if .CoverSmall}}<div class="down"><img  class="img-rounded" src="{{.CoverSmall}}" alt="{{.Title}}" /></div>{{end}}
		<p><strong>{{.Title}}</strong></p>
		</a>
		</div>
	</li>
	{{end}}
{{end}}
</ul>

<div class="row">
	<p class="centered">{{range .Tags}}<a class="label" href="/search/?q=subject:{{.}}">{{.}}</a> {{end}}</p>
</div>

{{template "footer.html"}}
