{{template "header.html" .S}}

{{if .Books}}
<div class="centered btn-group">
	<a href="/store/{{range .Books}}{{.B.Id}}/{{end}}" class="btn btn-large btn-success"><i class="icon-ok"></i> Save All</a>
	<a href="/delete/{{range .Books}}{{.B.Id}}/{{end}}" class="btn btn-large btn-danger"><i class="icon-remove"></i> Delete All</a>
</div>
{{end}}
<p class="centered">Found {{.Found}} books.<br /></p>
<ul class="pager">
{{if .Prev}}
  <li class="previous">
    <a href="{{.Prev}}">&larr; Prev</a>
  </li>
{{end}}
{{if .Next}}
  <li class="next">
    <a href="{{.Next}}">Next &rarr;</a>
  </li>
{{end}}
</ul>

{{range .Books}}
	{{$titleFound  := .TitleFound}}
	{{$authorFound := .AuthorFound}}
	{{with .B}}
	<div class="row">
		<div class="span1">
		<p class="pull-right">{{if .CoverSmall}}<img src="/cover/{{.Id}}/small/{{.Title}}.jpg" alt="{{.Title}}" />{{end}}</p>
		</div>
		<div class="span9">
		<p><a href="/search/?q=title:{{.Title}}"><strong>{{.Title}}</strong></a> <small>({{$titleFound}})</small><br />
		{{if .Author}}<strong>Author:</strong> {{range .Author}}<a href="/search/?q=author:{{.}}">{{.}}</a>, {{end}} <small>({{$authorFound}})</small><br />{{end}}
		{{if .Publisher}}<strong>Publisher:</strong> <a href="/search/?q=publisher:{{.Publisher}}">{{.Publisher}}</a><br />{{end}}
		{{if .Subject}}<strong>Tags:</strong> {{range .Subject}}<a href="/search/?q=subject:{{.}}">{{.}}</a>, {{end}}<br />{{end}}
		{{if .Isbn}}<strong>ISBN:</strong> {{.Isbn}}<br />{{end}}
		{{if .Date}}<strong>Date:</strong> {{.Date}}<br />{{end}}
		{{if .Lang}}<strong>Lang:</strong> {{range .Lang}}<a href="/search/?q=lang:{{.}}">{{.}}</a> {{end}}<br />{{end}}
		{{.Description}}
		</p>
		</div>
		<div class="span2">
		<div class="row btn-group pull-right">
			<a href="/store/{{.Id}}/" class="btn btn-success"><i class="icon-ok"></i> Save</a>
			<a href="/edit/{{.Id}}" class="btn btn-primary"><i class="icon-pencil"></i> Edit</a>
			<a href="/delete/{{.Id}}/" class="btn btn-danger"><i class="icon-remove"></i> Delete</a>
		</div>
		<div class="row"><p></p></div>
		<div class="row btn-group pull-right">
			<a href="/download/{{.Id}}/{{.Title}}.epub" class="btn btn-inverse"><i class="icon-download-alt icon-white"></i> download</a>
			<a href="/read/{{.Id}}" class="btn btn-warning"><i class="icon-eye-open icon-white"></i> read it!</a>
		</div>
		</div>
	</div>
	{{end}}
{{end}}
<ul class="pager">
{{if .Prev}}
  <li class="previous">
    <a href="{{.Prev}}">&larr; Prev</a>
  </li>
{{end}}
{{if .Next}}
  <li class="next">
    <a href="{{.Next}}">Next &rarr;</a>
  </li>
{{end}}
</ul>
{{if .Books}}
<div class="centered btn-group">
	<a href="/store/{{range .Books}}{{.B.Id}}/{{end}}" class="btn btn-large btn-success"><i class="icon-ok"></i> Save All</a>
	<a href="/delete/{{range .Books}}{{.B.Id}}/{{end}}" class="btn btn-large btn-danger"><i class="icon-remove"></i> Delete All</a>
</div>
{{end}}

{{template "footer.html"}}
