{{template "header.html" .S}}

<ul class="pager">
{{if .Prev}}
  <li class="previous">
    <a href="{{.Prev}}">&larr; Prev</a>
  </li>
{{end}}
  <li class="">
    <a href="{{.Back}}">Back</a>
  </li>
{{if .Next}}
  <li class="next">
    <a href="{{.Next}}">Next &rarr;</a>
  </li>
{{end}}
</ul>

<div class="row">
<div class="span4">
{{range .Chapters}}
{{range .Out}}
</ul>
{{end}}
{{range .In}}
<ul class="nav nav-list">
{{end}}
	<li {{if .Active}}class="active"{{end}}><a href="{{.Link}}">{{.Label}}</a></li>
{{end}}
{{if .Chapters}}
</ul>
{{end}}
</div>

<script type="text/javascript">
function iframedoc(aID){ 
	var framecont = null;
	var frame=document.getElementById(aID);
	if(frame.contentDocument)
	framecont = frame.contentDocument;
	else 
	framecont = document.frames[aID].document;
	return framecont;
}
function iframe_resize(){
	var myframe = document.getElementById('txt');
	var frameDoc = iframedoc('txt');
	myframe.height = frameDoc.body.offsetHeight+20;
}
</script>
<iframe class="span8" id="txt" onload="iframe_resize();" scrolling="no" src="{{.Content}}" seamless="seamless"></iframe>
</div>

<ul class="pager">
{{if .Prev}}
  <li class="previous">
    <a href="{{.Prev}}">&larr; Prev</a>
  </li>
{{end}}
  <li class="">
    <a href="{{.Back}}">Back</a>
  </li>
{{if .Next}}
  <li class="next">
    <a href="{{.Next}}">Next &rarr;</a>
  </li>
{{end}}
</ul>

{{template "footer.html"}}
