{{template "header.html" .S}}

<ul class="pager">
{{if .Prev}}
  <li class="previous">
    <a href="{{.Prev}}">&larr; Prev</a>
  </li>
{{end}}
  <li class="">
    <a href="/book/{{.Book.Title}}">Book description</a>
  </li>
{{if .Next}}
  <li class="next">
    <a href="{{.Next}}">Next &rarr;</a>
  </li>
{{end}}
</ul>

{{.Txt}}

<ul class="pager">
{{if .Prev}}
  <li class="previous">
    <a href="{{.Prev}}">&larr; Prev</a>
  </li>
{{end}}
  <li class="">
    <a href="/book/{{.Book.Title}}">Book description</a>
  </li>
{{if .Next}}
  <li class="next">
    <a href="{{.Next}}">Next &rarr;</a>
  </li>
{{end}}
</ul>

{{template "footer.html"}}
