{{template "header.html" .Search}}

<p class="centered">Found {{.Found}} books. Page {{.Page}}</p>

<ul class="pager">
{{if .Prev}}
  <li class="previous">
    <a href="{{.Prev}}">&larr; Prev</a>
  </li>
{{end}}
{{if .Next}}
  <li class="next">
    <a href="{{.Next}}">Next &rarr;</a>
  </li>
{{end}}
</ul>

{{with .Books}}
	{{range .}}
	<div class="row">
		<div class="span2">
		<p class="pull-right"><a href="/book/{{.Title}}">{{if .CoverSmall}}<img src="{{.CoverSmall}}" alt="{{.Title}}" />{{end}}</a></p>
		</div>
		<div class="span10">
		<p class="well"><a href="/book/{{.Title}}"><strong>{{.Title}}</strong></a><br />
		{{range .Author}}{{.}}, {{end}}</p>
		</div>
	</div>
	{{end}}
{{end}}

<ul class="pager">
{{if .Prev}}
  <li class="previous">
    <a href="{{.Prev}}">&larr; Prev</a>
  </li>
{{end}}
{{if .Next}}
  <li class="next">
    <a href="{{.Next}}">Next &rarr;</a>
  </li>
{{end}}
</ul>

{{template "footer.html"}}
