{{template "header.html" .S}}

<p class="centered">Found {{.Found}} books. Page {{.Page}} <a href="/search/?fmt=rss&q={{.S.Search}}"><img src="/img/feed.png"/></a></p>

<ul class="pager">
{{if .Prev}}
  <li class="previous">
    <a href="{{.Prev}}">&larr; Prev</a>
  </li>
{{end}}
{{if .Next}}
  <li class="next">
    <a href="{{.Next}}">Next &rarr;</a>
  </li>
{{end}}
</ul>

{{with .Books}}
	{{range .}}
	<div class="row">
		<div class="span1">
		<p class="pull-right"><a href="/book/{{.Id}}">{{if .CoverSmall}}<img class="img-rounded" src="/cover/{{.Id}}/small/{{.Title}}.jpg" alt="{{.Title}}" />{{end}}</a></p>
		</div>
		<div class="span10 well">
		<div class="row">
		<div class="span7">
		<p>
		<span class="muted">{{if .Lang}}{{.Lang}}{{end}}</span>
		<a href="/book/{{.Id}}"><strong>{{.Title}}</strong></a>
		<span class="muted">{{if .Publisher}}{{.Publisher}}{{end}}</span><br />
		{{range .Author}}{{.}}, {{end}}
		</p>
		</div>
		<div class="span3">
		<div class="btn-group pull-right">
		<a href="/download/{{.Id}}/{{.Title}}.epub" class="btn btn-inverse"><i class="icon-download-alt icon-white"></i> download</a>
		<a href="/read/{{.Id}}" class="btn btn-warning"><i class="icon-eye-open icon-white"></i> read it!</a>
		</div>
		</div>
		</div>
		</div>
	</div>
	{{end}}
{{end}}

<ul class="pager">
{{if .Prev}}
  <li class="previous">
    <a href="{{.Prev}}">&larr; Prev</a>
  </li>
{{end}}
{{if .Next}}
  <li class="next">
    <a href="{{.Next}}">Next &rarr;</a>
  </li>
{{end}}
</ul>

{{template "footer.html"}}
