{{template "header.html" .S}}

<script src="/js/Chart.min.js"></script>

<div class="row">
	<h4>Daily visits:</h4>
	<canvas id="daily" height="400" width="800"></canvas>
</div>

<script type="text/javascript">
	var data = {
		labels : [{{range .Daily}}"{{.Label}}",{{end}}],
		datasets : [
			{
				fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,1)",
				pointColor : "rgba(151,187,205,1)",
				pointStrokeColor : "#fff",
				data : [{{range .Daily}}{{.Count}},{{end}}]
			}
		]
	}


	var ctx = $("#daily").get(0).getContext("2d");
	new Chart(ctx).Line(data);
</script>

{{template "footer.html"}}
